header {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}

body {
    font-size: 12px;
}

.logo {
    width: 150px;
    height: 50px;
    padding: 20px;
}

h3 {
    font-size: 24px;
}


.search-button{
    margin-left: 20px;
    justify-content: center;
    align-items: center;

}

.lupa{
    text-align: center;
    font-size: 15px;
}

#find{
    background-color: #ebebeb;
    line-height: 20px;
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

.precios {
    font-size: 18px;
}

.descripcion, 
.descuentos {
    font-size: 16px;
}

#primer-encabezado {
    text-align: center;
    padding: 20px;
}

ul {
    cursor: pointer;
    list-style:none;
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    border: 0px;

    
}

.burger-menu{
    text-align: center;
    background-color: #1259c3;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    left: 45%;
    cursor: pointer;
}

footer {
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: #666;
}

.foot-p{
    margin-top: 0px;
}

.foot-h{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
}

#icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

.copyright{
    padding-top: 20px;
    text-align: left;
}
