* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 12px;
    padding: 0;
}
.main-header {
    background-color: #EAC926;
    width: 100%;
    padding: 0;
}

.logo {
    width: 150px;
    height: 80px;
    padding: 10px;
}

#search{
    margin-left: 20px;

}

.lupa{
    text-align: center;
    font-size: 15px;
}

#find{
    background-color: #ebebeb;
    margin-top: 2px;
    width: 18px;
    height: 18px;
    margin-left: 20px;
    border: 1px solid #666;
    cursor: pointer;
}

.primer-encabezado {
    text-align: center;
    padding: 20px;
}

.burger-menu{
    background-color: #1259c3;
    color: #ffffff;
    max-width: 40px;
    max-height: 40px;
    padding: 5px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    margin: auto;
    display: block;
}

main {
    width: 100%;
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 3px 0;
}

.banner{
    width: 100%;
    padding-top: 10px;
    vertical-align: bottom;
}

.al90 {
    width: 90%;
    margin: 0 auto;
}

.img-product {
    width: 100%;
    height: auto;
}

.productos{ 
    margin-bottom: 10px;
    padding: 15px;
    background-color: #ebebeb;
}

.detalle {
    border: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
}

#truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    color: #39b54a;
    }

h3 {
    font-size: 24px;
    color: #666;
}

.precios {
    font-size: 18px;
}

.titulo-productos{
    display: flex;

}

.descripcion, 
.descuentos {
    font-size: 16px;
}

.descuentos {
    color:  #39b54a;
    flex-grow: 70%;
}

.descripcion {
    color: #666;
    display: none;
}

footer {
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: #666;
    width: 90%;
}

.foot-p{
    margin-top: 0px;
}

.foot-h{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
}

#icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

.copyright{
    padding-top: 20px;
    text-align: left;
}




@media (min-width: 361px){
    .descripcion {
        display: block;
    }
    .productos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px){
  
}